@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.instrument-sans-font {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  


  /* For WebKit-based browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #3D3B6F; /* Background of the track */
  border-radius: 10px; /* Rounded corners for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #f0f0f0; /* Adds spacing around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker thumb color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Make the scrollbar thinner */
  scrollbar-color: #3D3B6F #f0f0f0; /* Thumb color and track color */
}